/* for the matter of this exercise i will use same files and just comment the previous attributes

article p {background-color: yellow;}
span {color: red;}
p { text-decoration: underline;}
*/

article > code { text-decoration: line-through;}

