body {
    display:flex;
    background-image: url(../Login-Form/images/Copilot_20260525_170927.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
    height: 100vh;
}

.wrap{
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(116, 26, 93, 0.1);
    backdrop-filter: blur(13px);
    animation: glow 0.0000005s ease-in-out infinite alternate;
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    gap: 10px;
}

form>div {
    display: flex ;
    width: 100%;
    justify-content: space-around;
}

input,
button,
a,
p {
    text-align: center;
}